# Ignorar archivos bytecode de Python
__pycache__/
*.py[cod]

# Ignorar archivos específicos por si fuera necesario
GUI/__pycache__/
GUI/__pycache__/*.pyc
controller/__pycache__/
controller/__pycache__/*.pyc
model/__pycache__/
model/__pycache__/*.pyc
